@charset "UTF-8";

:root {
    --main-color: rgba(109, 194, 247, 0.907);
    --main-track-backgroud-color: white;
    --h1-text-color: white;
    --background: #f5f5f5;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    background-color: var(--background);
}

/* HEADER */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 28px 4%;

    background-color: var(--main-color);
}

header > h1 {
    font-size: 24px;

    color: var(--h1-text-color);
}

/* MENU */

#menu > ul{
    display: flex;
    gap: 10px;
    list-style: none;
}

#menu > a {
    text-decoration: none;
}

#menu > ul > li > a > img {
    height: 24px;
    width: 24px;

    filter: invert(1);
}

/* MAIN */

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 20px auto;
    padding: 10px;

    width: 80vw;

    background-color: var(--main-track-backgroud-color);

    border-radius: 12px;
}

/* ABOUT ME */

#aboutMe {
    text-align: center;
}

#aboutMe > h2, #aboutMe p {
    padding: 10px;
}

#aboutMe p {
    max-width: 600px;

    text-align: justify;
    letter-spacing: -0.3px;
}

/* PROFILE IMAGE */

#profile > img {
    padding: 5px;

    height: 200px;
    width: 200px;

    object-fit: cover;
    object-position: center top;

    border: 5px solid var(--main-color);
    border-radius: 50%;
}

/* SOCIAL MEDIAS */

#socialMedias {
    display: flex;
    justify-content: center;
    gap: 20px;

    padding-top: 15px;
}

#socialMedias img {
    height: 32px;
    width: 32px;
}