@charset "UTF-8";

:root {
    --h1-text-color: white;
    --background: #f5f5f5;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    background-color: var(--background);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 10px;

    background-color: blueviolet;
}

header > h1 {
    font-size: 24px;

    color: var(--h1-text-color);
}


#menu > ul{
    list-style: none;

}

#menu > a {
    text-decoration: none;
}

#menu > ul {
    display: flex;
    gap: 10px;
}

#menu > ul > li > a > img {
    height: 24px;
    width: 24px;

    filter: invert(1);
}

#profile > img {
    height: 200px;
    width: 200px;

    object-fit: cover;
    object-position: center top;

    border-radius: 12px;
}